@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0.3s, color 0.3s;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: #4b5563;
}
a:hover {
  color: #3b82f6;
}

button {
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}